<main class="main">

    <div class="calculator__header">
      <div class="menu-img" (click)="openMenu()">
        <img src="../assets/menu.svg" alt="menu">
      </div>
      <h1 class="title">{{option}}</h1>
    </div>

<app-exchange *ngIf="option ==='Exchange'"></app-exchange>
<app-regular-calculator *ngIf="option === 'Calculator'"></app-regular-calculator>
<app-bmi *ngIf="option === 'BMI'"></app-bmi>

<div class="menu" *ngIf="isMenu">
  <ul>
    <li (click)="changeOptions('Calculator')">Calculator</li>
    <li (click)="changeOptions('Exchange')">Exchange</li>
    <li (click)="changeOptions('BMI')">BMI</li>
  </ul>
</div>

</main>


<router-outlet></router-outlet>
